.vscode
/env
__pycache__
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.env
.spotify_token.json
model/vosk/vosk-model-small-fr/vosk-model-fr-0.22
tranquillity.egg-info
/dist

token.json
settings/credentials.json